<!DOCTYPE html>
     <%include header.html%>
</head>
<body>
<header>
  <%include menu_tabs.html%>
</header>
<div class="intro-section" id="home">
    <div class="overlay">
        <div class="wrap">
            <div class="text">
                <h2>Resourcify Recycling Service</h2>

                <h1></h1>
                
                <!-- <div class="scrollIndicator">
                    &darr;
                </div> -->
                <svg class="scrollIndicator" width="42px" height="42px" margin="0 auto" viewBox="0 0 82 82" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                        <g id="Desktop-HD" sketch:type="MSArtboardGroup" transform="translate(-679.000000, -865.000000)">
                            <g id="Header-Revised-+-boucing-arrow-+-gradient-&amp;-copy" sketch:type="MSLayerGroup" transform="translate(-600.000000, 0.000000)">
                                <g id="boucing-arrow" transform="translate(1279.000000, 865.000000)" sketch:type="MSShapeGroup">
                                    <circle id="Oval-84" fill="rgba(46, 204, 113, 0)" cx="41" cy="41" r="41"></circle>
                                    <path d="M33,63 L49.4709564,45.5095063 L33,28" id="Path-406" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" transform="translate(41.235478, 45.500000) rotate(90.000000) translate(-41.235478, -45.500000) "></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="steps-section clear" id="howitworks">
    <div class="step">
        <h3>Click on Calculate</h3>
        click on the calculate to navigate
    </div>
    <div class="step">
        <h3>Enter The Parameters</h3>
        fill in the form
    </div>
    <div class="step">
        <h3>Click on Calculate</h3>
        click on the calculate button
    </div>
</div>
<div class="about-section" id="about">
    <div class="wrap">
        <div class="text">
            <h3>About Recycling</h3>
            This recycling calculate the time and cost saving potential per
            month for your potential customer
        </div>
    </div>
</div>
<div class="contact-section" id="contact">
    <div class="container">
        <div class="wrap clear">
            <h3>Contact Us</h3>

            <div class="text">

                <p>
                    <b>Address</b>
                    
                </p>

                <p>
                    <b>Phone</b>
                    +234 (0) XXXXXXX <br>+234 (0) XXXXXXX
                </p>

                <p>
                    <b>Email</b>
                    admin@recycling.com
                </p>
            </div>
            <div class="form">
                <p class="intro">Feel free to leave us a message.</p>
                <input type="text" placeholder="Your name">
                <input type="text" placeholder="Your Email">
                <input type="text" placeholder="Your Address">
                <input type="text" placeholder="Your Phone Number">
                <textarea name="" id="" cols="30" rows="10" placeholder="Please type a Message"></textarea>
                <button>Submit</button>
            </div>
        </div>
    </div>
</div>
 <%include footer.html%>
</body>
</html>
